// colors
$black: #363636;
$white: #ffffff;
$gray: #c2c0c1;
$green: #22aa57;
$green2: #22a957;
$borderHover: #79cc99;
$blue: #79aecc;

// typo
// $title: 2.4rem;
// $text: 1.6rem;
// $smallText: 1.3rem;
// $noteText: 1.1rem;

// // line-height
// $lhXs: 1;
// $lhSm: 1.2;
// $lhmd: 1.4;
// $lhLg: 1.6;

// font-weight
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// border-radius
$circle: 50%;
$brsm: 12px;
$brmd: 16px;

// fonts
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Literata", serif;

// gradients
$lgGreen: linear-gradient(#139043, #23ab58);
$lgGreenHover: linear-gradient(#0e622f, #20a855);
$lgBlue: linear-gradient(#6598b5, #79aecc);
$lgBlueHover: linear-gradient(#305569, #6ba8cb);

// width
$container-width: 128rem;
$container-mobile-width: 32rem;
